.SellItemPage .sellCard {
    margin-top: 20px;
    border: 1px solid rgba(14, 4, 5, .2);
    border-radius: 3px;
    margin-left: 13em;
    margin-right: 13em;
}

.SellItemPage .sellCard .ChangeBtn {
    color: #002f34;
    font-size: 14px;
    border-bottom: 2px solid #002f34;
}

.SellItemPage .sellCard .ChangeBtn:hover {
    border: none;
    cursor: pointer;
}

.SpecificHeadDesk .dskSllHedTtle {
    visibility: hidden;
    font-weight: normal;
}

.SellItemPage .titleH4Sell {
    margin-top: 20px;
}

.SellItemPage .sellCard .BrandInput {
    color: #002f34;
    box-sizing: border-box;
    border: 1px solid #002f34;
    background: transparent;
    outline: none;
    height: 45px;
    border-radius: 3px;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.SellItemPage .sellCard .BrandInput:focus {
    border: 3px solid aqua;
}

.SellItemPage .sellCard .InputDivs {
    width: 400px;
}

.SellItemPage .sellCard .inputSell {
    color: #002f34;
    box-sizing: border-box;
    border: 1px solid #002f34;
    background: transparent;
    outline: none;
    height: 45px;
    border-radius: 3px;
    width: 400px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.SellItemPage .sellCard .inputSell:focus {
    border: 3px solid aqua;
}

.SellItemPage .sellCard .GridtwoMsg {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto auto;
}

.SellItemPage .sellCard .imgSltGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 450px;
}

.SellItemPage .sellCard .imgSltCard{
    width: 100px;
    border: 2px solid #002f34;
    text-align: center;
    height: 80px;
    padding-top: 20px;
    margin-top: 10px;
}

.SellItemPage .sellCard .PostBtn{
    color: #7f9799;
    background: #d8dfe0;
    width: 6em;
    height: 3em;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    text-align: center;
}

@media only screen and (max-width: 1080px) {
    .SellItemPage .sellCard {
        margin-left: 10em;
        margin-right: 10em;
    }

    .SellItemPage .sellCard .imgSltGrid {
        display: grid;
        grid-template-columns: auto auto auto;
        max-width: 350px;
    }
}

@media only screen and (max-width: 1023px) {
    .SellItemPage .sellCard {
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 1px;
    }

    .SpecificHeadDesk .dskSllHedTtle {
        visibility: visible;
    }

    .SellItemPage .titleH4Sell {
        display: none;
    }

    .SellItemPage .sellCard .PostBtn{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .SellItemPage .sellCard {
        margin-left: 0px;
        margin-right: 0px;
        border: none;
    }

    .SellItemPage .sellCard .inputSell {
        width: 100%;
    }

    .SellItemPage .sellCard .BrandInput {
        width: 100%;
    }

    .SellItemPage .sellCard .InputDivs {
        width: 100%;
    }

}