.AppAd{
    margin-top: 3em;
    width: 100%;
    background: rgba(0,47,52,.03);
    display: grid;
    grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 1015px) {
    .AppAd {
        display: none;
    }
}

.AppAd .phoneImg img{
    margin-bottom: -3px;
    width: auto;
    height: auto;
    padding-left: 2em;
}

.AppAd .tryOLX{
    font-size: xx-large;
    color: #002f34;
    padding-top: 1.5em;
}

.AppAd .tryOLXabt{
    font-size: larger;
    font-weight: normal;
    color: #002f34;
    max-width: 20em;
}

.AppAd .appLinkTit{
    font-size: small;
    color: #002f34;
    padding-top: 4em;
}

.AppAd .vrLine{
    margin-top: 2.8em;
    margin-bottom: -1.8em;
    margin-right: 3em;
    content: '';
    border-left: 2px solid grey;
}

.AppAd .appImgAppAd{
    padding-top: 4px;
    padding-right: 3px;
    height: 40px;
}